<%- include("partials/header.ejs"); -%>

    <div class="container bg-light mt-5 rounded-5 py-2" id="postList">
        <div class="postContent ms-4">
            <h1><%= post.title %></h1>
            <p><%= post.content %></p>
        </div>
    </div>

<%- include("partials/footer.ejs"); -%>